parameters:
	level: 6
	paths:
		- ai-hazir-site.php
		- uninstall.php
		- src
	scanFiles:
		- tests/stubs/wp-cli.php
		- tests/stubs/polylang.php
		- tests/stubs/wp-rocket.php
		- tests/stubs/translatepress.php
